# Webstorm IDE
.idea

# These files are created by the initialisation script
# so they are not part of the repo
package.json
package-lock.json
db.name.js

# npm packages
node_modules

# log files
log

# database files
data/db

# mocha reporter
mochawesome-report