# Webstorm IDE
.idea

# These files are created by the initialisation script
# so they are not part of the repo
db.name.js

# npm packages
node_modules

# log files
log

# database files
data/db

# mocha reporter
mochawesome-report

# OAuth secrets
auth/secrets

# The CMS build
static
